.config-conteiner{

    width: 100%;
    display: flex;

}
.config-conteiner>.config> h3{
   padding-bottom:20px;
}


.config{
    width: 15%;
    width: 220px;
    gap: 10px;


}
.modal-input{
    padding: 4px;
    width: 35%;
}
.word-side{
    width: 60%;
}